{% extends '../formTemplate.twig' %}

{% block title %}
    Formularz Turysty
{% endblock %}

{% block header %}
    <h2>Formularz Turysty</h2>
{% endblock %}

{% block form %}

    <form id="addForm" action="/turysci/dodaj" method="POST">
        <fieldset>
            <legend> Dane Personalne </legend>
            <div class="form-group">
                <label for="imie">Imie</label>
                <input type="text" class="form-control" id="imie" name="imie">
            </div>
            <div class="form-group">
                <label for="nazwisko">Nazwisko</label>
                <input type="text" class="form-control" id="nazwisko" name="nazwisko">
            </div>
            <div class="form-group">
                <label for="telefon">Telefon</label>
                <input type="text" class="form-control" id="telefon" name="telefon">
            </div>
             <div class="form-group">
                <label for="opis">Opis</label>
                 <textarea  class="form-control" id="opis" name="opis" ></textarea>
            </div>
              <div class="form-group">
                <label for="punkty">Punkty</label>
                <input type="number" class="form-control" id="punkty" name="punkty" value="0" readonly>
            </div>
        </fieldset>
        
        <fieldset>
            <legend> Dane Konta </legend>
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" name="login">
            </div>
            <div class="form-group">
                <label for="haslo">Hasło</label>
                <input type="password" class="form-control" id="haslo" name="haslo">
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>
        </fieldset>
        <br/>
        <button type="submit" class="btn btn-info">Dodaj</button>
    </form>

{% endblock %}