{% extends '../baseTemplate.twig' %}

{% block title %}Panel administratora{% endblock %}

{% block header %}
    Panel administratora
{% endblock %}

{% block main %}

    <div class="list-group mt-3">
        <button type="button" class="list-group-item list-group-item-action active bg-dark" disabled>
            <i class="fas fa-cogs">   Opcje użytkowników: </i>
        </button>
       <a type="button" class="list-group-item list-group-item-action" href="/turysci"> <i class="fas fa-walking">  Turyści</i></a>
        <a type="button" class="list-group-item list-group-item-action" href="/przodownicy"> <i class="fas fa-user-shield">Przodownicy</i></a>

        <button type="button" class="list-group-item list-group-item-action active bg-dark" disabled>
            <i class="fas fa-cogs">  Opcje grup górskich:</i>
        </button>
        <a type="button" class="list-group-item list-group-item-action" href="/grupy"> <i class="fas fa-mountain"> Grupy górskie</i></a>
        <a type="button" class="list-group-item list-group-item-action" href="/wybierzPrzodownika"><i class="fas fa-hiking">Grupy przodowników</i></a>
        <a type="button" class="list-group-item list-group-item-action" href="/pasma"><i class="fas fa-map">Pasma górskie</i></a>
        <a type="button" class="list-group-item list-group-item-action" href="/punkty"><i class="fas fa-map-marker-alt">Punkty</i></a>
        <a type="button" class="list-group-item list-group-item-action"><i class="fas fa-exchange-alt">Odcinki</i></a>

        <button type="button" class="list-group-item list-group-item-action active bg-dark" disabled>
            <i class="fas fa-cogs">   Inne:  </i>
        </button>
        <a type="button" class="list-group-item list-group-item-action" href="/odznaki"><i class="fas fa-award">Odznaki górskie</i></a>
        <a type="button" class="list-group-item list-group-item-action" href="/ksiazeczka/zgloszone"><i class="fas fa-plus">Zatwierdź książeczke</i></a>
    </div>

{% endblock %}