body{
    font-family: 'Geneva';
    background-color: white;
    position: relative;
}
.container{
    background-color: white;
}
html, body{
    height:100%;
    margin:0;
    font-family: 'Geneva';
    background-color: white;
    position: relative;
}
body{
  display:flex;
  flex-direction:column;
}
footer{
  margin-top:auto;
    bottom: 0;
}

td:not(:nth-child(0)) {
    vertical-align: middle;
}

a {
    color: inherit;
    text-decoration: none;
}

/*PASMA GÓRSKIE*/

.carousel-inner a:hover{
color: whitesmoke;

}

a:hover{
    color:inherit;
}

#addFormWycieczka
{
	
 padding: 15px;
  border: 1px solid #666;
  background: #fff;
  display: none;
}

