{% extends 'baseTemplate.twig' %}

{% block header %}
    Przodownicy
{% endblock %}
{% block main %}
    <table id="myTable" class="table table-striped align-middle table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Telefon</th>
            </tr>
        </thead>
        <tbody>

        {% for przodownik in przodownicy %}
        <tr>
          <td>{{ przodownik.getIdPrzodownik }}</td>
          <td>{{ przodownik.getImie }}</td>
          <td>{{ przodownik.getNazwisko }}</td>
          <td>{{ przodownik.getTelefon }}</td>
        </tr>
        {%  endfor %}

        </tbody>
    </table>

{% endblock %}
